{% extends "main/base.html" %}
{% load i18n %} 
{% get_current_language as LANGUAGE_CODE %}
{% block title %}
    {{heading}}
{% endblock title %}
{% block content %}
    <p>===================</p>
        <p>{{result}}</p>
        {% if sku.status == 8 %}
    <p>===================</p>
    <h2>
        {% if identity == "provider" %}
        Hi, provider.
        {% elif identity == "buyer" %}
        Hi, Buyer.
        {% endif %}
        say something about this course
    </h2>
    <form enctype="multipart/form-data" method="post">
        {{uf.as_p}}
        {% csrf_token %}
        <input type="submit" name="submit">
    </form>
    
    {% else %}
        不能评价啦
        <p>==================</p>
    {% endif %}
{% endblock content %}