{% extends "main/base.html" %}
{% load i18n %} 
{% load tz %}
{% get_current_language as LANGUAGE_CODE %}
{% get_current_timezone as TIME_ZONE %}

{% block title %}
    Home
{% endblock title %}

{% block content %}
    <h1>{{heading}}</h1>
    {% trans "This the content of home page." %}
    <h1>{% trans "User"%}</h1>
    {% if info.is_login %}
        <h2>* User profile</h2>
            <ul style="font-family:monospace;">
                <li>login name: {{info.current_user.get_username}}</li>
                <li>email: {{info.current_user.email}}</li>
                <li>last login: {{info.current_user.last_login|date:"Y-m-d H:i:s (O)"}}</li>
                <li><a href="{% url 'main:dashboard' %}">go to dashboard to see my full profile and courses...</a></li>
            </ul>
    {% else %}
        {% trans "You have not loged in." %}

    {% endif %}
    <h1>{% trans "Local" %}</h1>
    <h2>* Language</h2>
    {% trans "The priority language：" %}{{ LANGUAGE_CODE|language_name_local }}. (
    {{ LANGUAGE_CODE }}, 
    {{ LANGUAGE_CODE|language_name_local }}, 
    {{ LANGUAGE_CODE|language_name }}, 
    {{ LANGUAGE_CODE|language_bidi }}) <br>
    {% trans "This is our first auto-translation page." %}
    <h2>* Time zone</h2>
        Time zone using in this page: {{TIME_ZONE}}
        <ul style="text-align:right; width:280px;font-family:monospace;">
            {% localtime off %}
            <li>Server: {{now_tz|date:"Y-m-d H:i:s (O)"}}</li>
            {% endlocaltime %}
            <li>Beijing : {{now_tz|timezone:"Asia/Shanghai"|date:"d H:i:s (O)"}}</li>
            <li>Los Angeles : {{now_tz|timezone:"America/Los_Angeles"|date:"d H:i:s (O)"}}</li>
            <li>Chicago : {{now_tz|timezone:"America/Chicago"|date:"d H:i:s (O)"}}</li>
            <li>New York : {{now_tz|timezone:"America/New_York"|date:"d H:i:s (O)"}}</li>
            <li>London : {{now_tz|timezone:"Europe/London"|date:"d H:i:s (O)"}}</li>
            <li>Paris : {{now_tz|timezone:"Europe/Paris"|date:"d H:i:s (O)"}}</li>
        </ul>

    
    <h1>{% trans "Pages" %}</h1>
    <p>{% trans "link to other pages" %}</p>
    <h2>* {% trans "Sitemap" %}</h2>
    {# <a href="{% url 'main:index' %}">{% trans "Show Index" %}</a> #}
    {# <a href="{% url 'main:user' %}">{% trans "Show Users" %}</a> #}
    {# <a href="{% url 'main:topic_category'%}">{% trans "Show Topic category" %}</a> #}
    {# <a href="{% url 'main:tutor' %}">{% trans "Show tutortor" %}</a> #}
    <table>
        <thead>
            <tr>
                <td>Pages</td>
                <td>Actions</td>
            </tr>
            <tr>
                <td></td>
                <td>Buyer</td>
                <td>Provider</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="{% url 'main:skulist' %}">{% trans "SKU List" %}</a></td>
                <td><a href="{% url 'main:picktopic' %}">{% trans "Book a course" %}</a></td>
                {% if info.is_provider %}
                    <td><a href="{% url 'main:addsku' %}">{% trans "Add one SKU (for provider)" %}</a></td>
                {% endif %}
            </tr>
            <tr>
                <td></td>
                <td><a href="{% url 'main:addorder' %}">{% trans "Add Order" %}</a></td>
                {% if info.is_provider %}
                    <td><a href="{% url 'main:schedule' %}">{% trans "Schedule (for provider)" %}</a></td>
                {% endif %}
            </tr>
        </tbody>

    </table>

    <ul>
        {# <li><a href="{% url 'main:dashboard' %}">{% trans "Dashboard for student" %}</a></li> #}
        {# <li><a href="{% url 'main:office' %}">{% trans "Office for tutor" %}</a></li> #}
            <li><a href="{% url 'main:skulist' %}">{% trans "SKU List" %}</a></li>
        {% if info.is_provider %}
            <li><a href="{% url 'main:picktopic' %}">{% trans "Book a course" %}</a></li>
            <li><a href="{% url 'main:addsku' %}">{% trans "Add one SKU (for provider)" %}</a></li>
            <li><a href="{% url 'main:schedule' %}">{% trans "Schedule (for provider)" %}</a></li>
        {% else %}
            <li><a href="{% url 'main:picktopic' %}">{% trans "Book a course" %}</a></li>
        {% endif %}
        <li><a href="{% url 'main:addorder' %}">{% trans "Add Order" %}</a></li>
    </ul>
    

{% endblock content %}