{% extends "main/base.html" %}
{% load i18n %} 
{% get_current_language as LANGUAGE_CODE %}
{% block title %}
    {{heading}}
{% endblock title %}

{% block content %}
    <h1>{{heading}}</h1>
    <table>
        <thead>
            <tr>
                <th>Topic</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
                {% for topic in topics %}
            <tr>
                {% if skus_timeok.all|length == 0 %}
                    <td>{{topic.name}}&lt;{{skus_timeok.sku_set.all|length}}&gt;</td>
                    <td>{{topic.category}}</td>
                {% else %}
                    <td><a href="{% url 'main:skuintopic' topic.id %}">{{topic.name}}&lt;{{skus_timeok.all|length}}&gt;</a> </td>
                    <td>{{topic.category}}</td>
                {% endif %}    
            </tr>
                {% endfor %}
        </tbody>
    </table>
    <p></p>
    
<a href="{% url 'main:home' %}">{% trans "Get back to home" %}</a>        
{% endblock content %}