{% extends "main/base.html" %}
{% load i18n %} 
{% load tz %}
{% get_current_language as LANGUAGE_CODE %}
{% get_current_timezone as TIME_ZONE %}
{% localtime on %}

{% block title %}
    {{heading}}
{% endblock title %}

{% block content %}
    <h1>{{heading}}</h1>
    {% trans "This the content of replying to sku." %}
    Time zone using in this page: {{TIME_ZONE}}
    
    <p>================================</p>
    <p>{{msg}}</p>
    <p>================================</p>

<a href="{% url 'main:addsku' %}">[+]{% trans "Add SKU" %}</a></li>

        <table>
            <thead>
                <tr>
                    <th>Topic</th>
                    <th>ID</th>
                    <th>Provider</th>
                    <th>Buyer</th>
                    <th>Start time</th>
                    <th>End time</th>
                    <th>Created</th>
                    <th>Modified</th>
                </tr>
            </thead>
            <tbody>
                {% for sku in skus %}
                <tr>
                    <td><a href="{{sku.id}}">{{sku.topic}}</a></td>
                    <td>{{sku.id}}</td>
                    <td><a href="{% url 'main:provider_profile' sku.provider.user.id %}">{{sku.provider}}</a></td>
                    <td>{{sku.buyer.all|safeseq|join:", "}}</td>
                    <td>{{sku.start_time|date:"Y-m-d H:i (e)"}}</td>
                    <td>{{sku.end_time|date:"Y-m-d H:i (e)"}}</td>
                    <td>{{sku.created|date:"Y-m-d H:i (e)"}}</td>
                    <td>{{sku.modified|date:"Y-m-d H:i (e)"}}</td>

                </tr>
                {% endfor%}
            </tbody>
        </table>
<p></p>
<a href="{% url 'main:home' %}">{% trans "Get back to home" %}</a>
{% endblock content %}
{% endlocaltime %}